# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
includes
misc
modules
profiles
scripts
themes/bartik
themes/engines
themes/garland
themes/seven
themes/stark

*.*~
.git
.idea
